<h2 class="ui center aligned big icon header">
  <i class=" circular orange comments icon"></i>
  Lets Chat... 
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid railsed card chatbox">
      <div class="content">
        <div class="ui feed">
          <h4 class="ui header">Users</h4>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Elliot Fu</em>: <i>Test Message 1</i>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Stevie Feliciano</em>: <i>Test Message 2</i>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Helen Troy</em>: <i>Test Message 3</i>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Christian Rocha</em>: <i>Test Message 4</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <div class="ui fluid icon input">
          <input type="text" placeholder="Enter a massage...">
          <i class="bordered inverted orange share icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>

</div>