<h2 class="ui center aligned big icon header">
  <i class=" circular orange comments icon"></i>
  Lets Chat... 
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <h4 class="ui header">Users</h4>
            <% @messages.each do |message| %>
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <em><%= message.user.username %></em>: <i><%= message.body %></i>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
      </div>
      <div class="extra content">
        <div class="ui fluid icon input">
          <input type="text" placeholder="Enter a massage...">
          <i class="bordered inverted orange share icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui vertical menu">
          <a class="active orange item"">
            Home
          </a>
          <a class="teal item">
            Messages
              <div class="ui label">
                <%= @messages.count %>
              </div>
          </a>
          <a class="item">
            Friends
              <div class="ui label">
                <%= @users.count %>
              </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>